.footerContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background-color: #000000;
    color:#FFFF;
    font-weight: bold;
}
@media (max-width:800px)
{
    .footerContainer strong
    {
        font-size:0.8rem;
    }
}